<div class="header">
  <div class="header__start">
    <div class="material-icon">
        <span class="material-symbols-outlined"> menu </span>
    </div>
    <a class="logo" href="">
      <img
        src="./../../../assets/images/favicon_144x144.png"
        alt="YouTube logo"
      />
      <h2>YouTube</h2>
    </a>
  </div>
  <div class="header__center">
    <input type="text" placeholder="Search"/>
    <div class="material-icon icon-search">
        <span class="material-symbols-outlined"> search </span>
    </div>
    <div class="material-icon">
        <span class="material-icons"> mic </span>
    </div>
  </div>
  <div class="header__end">
    <a class="material-icon" (click)="openDialog()">        
        <span class="material-icons material-icons-outlined"> library_add </span>
    </a>
    <div class="noti-icon material-icon">
      <mat-icon
        class="material-icons-outlined material-icons-round"
        matBadge="15"
        matBadgeColor="warn"
        aria-hidden="false"
        >notifications</mat-icon
      >
      <span class="cdk-visually-hidden"> Number of notifications </span>
    </div>
    <div class="avatar">
      <img src="./../../../assets/images/avatar.jpg" alt="Avatar image" />
    </div>
  </div>
</div>
